[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = when_multiline:suggestion

# IDE0058: Expression value is never used
csharp_style_unused_value_expression_statement_preference = discard_variable:silent
